<section>
    <div class="references-box">
        <img class="references-vector" src="../../assets/img/vector1.png" alt="">
        <img class="references-img" src="../../assets/img/github-button.png" alt="">
        <img class="references-img" src="../../assets/img/email-button.png" alt="">
        <!-- <a routerLink="/https://www.linkedin.com/in/muhammed-yilmaz-129b812ba/"> -->
            <img class="references-img" src="../../assets/img/linkedin-button.png" alt="">
        <!-- </a> -->
        <span>moe03live.de</span>
    </div>
    <div class="scroll-down-img">
        <img src="../../assets/img/scroll-down.png" alt="">
        <img src="../../assets/img/arrow-down.png" alt="">
    </div>
    <img class="curved-vector" src="../../assets/img/vector.png" alt="">
    
</section>
