<section>
    <div class="references-box">
        <img class="references-vector" src="../../assets/img/vector1.png" alt="">
        <a href="https://github.com/m03ymz" target="_blank" rel="noopener noreferrer">
            <img class="references-img" src="../../assets/img/github-button.png" alt="">
        </a>
        <a href="mailto:mail@muhammed-yilmaz.com" target="_blank" rel="noopener noreferrer">
            <img class="references-img" src="../../assets/img/email-button.png" alt="">
        </a>
        <a href="https://www.linkedin.com/in/muhammed-yilmaz-129b812ba/" target="_blank" rel="noopener noreferrer">
            <img class="references-img" src="../../assets/img/linkedin-button.png" alt="">
        </a>
        <span>mail&#64;muhammed-yilmaz.com</span>
    </div>
    <div class="scroll-down-img">
        <img src="../../assets/img/scroll-down.png" alt="">
        <img src="../../assets/img/arrow-down.png" alt="">
    </div>
    <img class="curved-vector" src="../../assets/img/vector.png" alt="">
    
</section>
