<header>
    <a [routerLink]="['/main-content']">
        <img class="logo" src="../../assets/img/my-logo.png" alt="">
    </a>
    <div class="menu">
        <a (click)="handleLinkClick($event)" href="#about-me" class="link">{{'header' | translate}}</a>
        <a (click)="handleLinkClick($event)" href="#my-skills" class="link">Skills</a>
        <a (click)="handleLinkClick($event)" href="#portfolio" class="link">Portfolio</a>
        <div class="language">
            <div class="language-switcher" *ngIf="selectedLanguage === 'en'" (click)="switchLanguage('de')">
                <span>EN</span>
                <img src="../../assets/img/english.png" alt="English">
            </div>
            <div class="language-switcher" *ngIf="selectedLanguage === 'de'" (click)="switchLanguage('en')">
                <span>DE</span>
                <img src="../../assets/img/german.png" alt="German">
            </div>
        </div>
    </div>
    <img (click)="toggleMenu()" *ngIf="!isMenuOpen" class="burger-menu" src="../../assets/img/burger-menu.png" alt="">
    <img (click)="toggleMenu()" *ngIf="isMenuOpen" class="close-button" src="../../assets/img/close.png" alt="">
</header>
