header {
    height: 40px;
    background-color: #141D2F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px 37px 100px;
    gap: 0px;
    font-size: 23px;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999999999999999999999999999999999999;
    max-width: 1852.8px; 
    margin-left: auto;
    margin-right: auto;
    >div {
        width: 360px;
        display: flex;
        justify-content: space-around;
    }
}

.logo {
    height: 70px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FA7902;
}

.burger-menu {
    display: none;
}

.close-button {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    header {
        padding: 37px 25px 37px 25px;
        >div {
            display: none;
        }
    }
    .burger-menu {
        display: unset;
        height: 27.72px;
        width: 30px;
        cursor: pointer;
    }
}

