header {
    height: 40px;
    background-color: #141D2F;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px 37px 100px;
    gap: 0px;
    font-size: 23px;
    font-weight: 400;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999999999999999999999999999999999999;
    max-width: 1852.8px; 
    margin-left: auto;
    margin-right: auto;
    // >div {
    //     width: 360px;
    //     display: flex;
    //     justify-content: space-around;
    // }
}

.menu {
    // width: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
}

.logo {
    height: 70px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

a:hover {
    color: #FA7902;
}

.burger-menu {
    display: none;
}

.close-button {
    cursor: pointer;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-switcher {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.language-switcher:hover span {
    color: #FA7902;
}

.language-switcher img {
    height: 40px;
    border-radius: 50%; /* Diese Zeile fügt die abgerundeten Ecken hinzu */
    border: 3px solid transparent; /* Transparenter Rahmen, um Größenänderungen zu verhindern */
}

.language-switcher:hover img {
    border: 3px solid #FA7902; /* Hier können Sie die Farbe und Dicke des Rahmens anpassen */
}

.link {
    position: relative;
}

.link.clicked {
    color: #FA7902; /* Ändere die Textfarbe beim Klicken */
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(255,71,71);
    transform: scaleX(0); /* Initially no width */
    transition: transform 1s ease; /* Transition for width */
}

.link.clicked::after {
    transform: scaleX(1); /* Set width to 100% after click */
}

@media screen and (max-width: 900px) {
    header {
        padding: 37px 25px 37px 25px;
        >div a {
            display: none;
        }
    }
    .burger-menu {
        display: unset;
        height: 27.72px;
        width: 30px;
        cursor: pointer;
    }
}

