<div class="line"></div>

<section>
    <footer>
        <div class="footer-logo">
            <img src="../../assets/img/my-logo.png" alt="">
            <a href="">Impressum</a>
        </div>
        <span>© Muhammed Yilmaz 2024</span>
        <div class="footer-references">
            <img src="../../assets/img/github-button.png" alt="">
            <img src="../../assets/img/email-button.png" alt="">
            <img src="../../assets/img/linkedin-button.png" alt="">
        </div>
        <a href="">Impressum</a>
    </footer>
</section>
