<div class="line"></div>

<section>
    <footer>
        <div class="footer-logo">
            <img src="../../assets/img/my-logo.png" alt="">
            <a href="imprint" class="link">Imprint</a>
        </div>
        <span>© Muhammed Yilmaz 2024</span>
        <div class="footer-references">
            <a href="https://github.com/m03ymz" target="_blank" rel="noopener noreferrer">
                <img src="../../assets/img/github-button.png" alt="">
            </a>
            <a href="mailto:mail@muhammed-yilmaz.com" target="_blank" rel="noopener noreferrer">
                <img src="../../assets/img/email-button.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/muhammed-yilmaz-129b812ba/" target="_blank" rel="noopener noreferrer">
                <img src="../../assets/img/linkedin-button.png" alt="">
            </a>
        </div>
        <a href="imprint" class="link">Imprint</a>
    </footer>
</section>
