<section>
    <h1>About me</h1>
    <div class="about-me-box">
        <div class="about-me-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsum pariatur, placeat unde at praesentium, odit asperiores perspiciatis natus minima consectetur! Sit facere cupiditate, eligendi rerum impedit esse beatae eveniet.</div>
        <div class="about-me-text2">
            <img src="../../assets/img/about-me-img1.png" alt="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, harum. Sit explicabo nemo voluptatibus eveniet adipisci veritatis saepe ratione ipsum, vitae excepturi architecto dignissimos velit tenetur qui, accusantium tempore! Ipsa.</div>
        <div class="about-me-text3">
            <img src="../../assets/img/about-me-img2.png" alt="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ipsa officia culpa impedit aliquam vitae? Provident ullam libero exercitationem iusto pariatur unde. Repellendus, cum. Quaerat nobis sit nemo tempora animi.</div>
    </div>
    <img class="vector" src="../../assets/img/vector2.png" alt="">
    <img class="ellipse" src="../../assets/img/ellipse.png" alt="">
    <img class="portfolio-img" src="../../assets/img/portfolio-img22222.png" alt="">
    <img class="shadow" src="../../assets/img/shadow2.png" alt="">
</section>