section {
    max-width: 100%;
    background-color: #141D2F;
    color: white;
    position: relative;
    z-index: 200;
    margin-top: -260px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    overflow: hidden;
    >h1 {
        font-size: 90px;
        font-weight: 700;
        z-index: 999999999999999999999999999999999999;
    }
}

.about-me-box {
    width: 400px;
    z-index: 99999999999999999;
}

.about-me-text {
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
}

.about-me-text2 {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
    >img {
        height: 50px;
        padding-right: 13px;
    }
    margin-left: 35px;
}

.about-me-text3 {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
    >img {
        height: 50px;
    }
    margin-left: 35px;
}

.vector {
    position: absolute;
    right: 0;
    top: 350px;
}

.ellipse {
    position: absolute;
    right: 268px;
    top: 125px;
    height: 450px; 
}

.portfolio-img {
    position: absolute;
    right: 273.5px;
    top: 131.5px;
    height: 442px;
    clip-path: circle(50%);
}

.shadow {
    position: absolute;
    right: -400px;
}

@media screen and (max-width: 1500px) {
    section {
        margin-top: -280px;
        z-index: 0;
    }
}

@media screen and (max-width: 1250px) {
    section {
        align-items: center;
        padding-left: unset;
    }
    .ellipse {
        display: none;
    }
    .vector {
        display: none;
    }
    .portfolio-img {
        display: none
    }
    // .shadow {
    //     right: 300px;
    //     z-index: 2;
    // }
}

@media screen and (max-width: 550px) {
    // section {
    //     margin-top: -450px;
    // }
    section h1 {
        font-size: 70px;
    }
    .about-me-box {
        >div {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 525px) {
    section {
        margin-top: -400px;
    }
}

@media screen and (max-width: 450px) {
    section h1 {
        font-size: 54px;
    }
    .about-me-box {
        width: 280px;
    }
}

@media screen and (max-width: 450px) {
    section {
        margin-top: -300px;
        z-index: 99;
    }
}

// @media screen and (max-height: 850px) and (max-width: 400px) {
//     section {
//         margin-top: -300px;
//     }
// }

// @media screen and (min-height: 720px) and (max-height: 720px) and (min-width: 540px) and (max-width: 540px) {
//     // section {
//     //     margin-top: 130px;
//     // }
// }

// @media screen and (min-height: 600px) and (max-height: 600px) and (min-width: 1024px) and (max-width: 1024px) {
//     section {
//         margin-top: -220px;
//     }
// }

// @media screen and (min-height: 800px) and (max-height: 800px) and (min-width: 1280px) and (max-width: 1280px) {
//     section {
//         margin-top: -300px;
//     }
// }

// @media screen and (max-width: 650px) and (max-height: 730px)  {
//     section {
//         margin-top: -200px;
//     }
// }

// @media screen and (min-width: 651px) and (max-width: 850px) and (max-height: 730px)  {
//     section {
//         margin-top: -250px;
//     }
// }

// @media screen and (min-width: 851px) and (max-width: 1050px) and (max-height: 730px)  {
//     section {
//         margin-top: -250px;
//     }
// }

// @media screen and (min-width: 1051px) and (max-width: 1500px) and (max-height: 730px)  {
//     section {
//         margin-top: -250px;
//     }
// }