<section>
    <h1 data-aos="fade-up">{{'about-me' | translate}}</h1>
    <div class="about-me-box" data-aos="fade-up">
        <div class="about-me-text">{{'about-me1' | translate}}</div>
        <div class="about-me-text2">
            <img src="../../assets/img/about-me-img1.png" alt="">
            {{'about-me2' | translate}}
        </div>
        <div class="about-me-text3">
            <img src="../../assets/img/about-me-img2.png" alt="">
            {{'about-me3' | translate}}
        </div>
    </div>
    <img data-aos="fade-left" class="vector" src="../../assets/img/vector2.png" alt="">
    <img data-aos="fade-left" class="ellipse" src="../../assets/img/ellipse.png" alt="">
    <img data-aos="fade-left" class="portfolio-img" src="../../assets/img/portfolio-img2222.png" alt="">
    <img data-aos="fade-left" class="shadow" src="../../assets/img/shadow2.png" alt="">
</section>