<section>
    <div class="image-container">
        <img class="portfolio-img top-img" src="../../assets/img/portfolio-img111111111.png" alt="" data-aos="fade-right" data-aos-easing="ease-in-out-back">
        <img class="shadow bottom-img" src="../../assets/img/shadow1.png" alt="">
    </div>
    <div class="full-box" data-aos="fade-left" data-aos-easing="ease-in-out-back" data-aos-offset="-100">
        <div class="main-info">
            <span class="i-am-text" id="me" [ngStyle]="{ 'font-size.px': getFontSize() }">{{'me' | translate}}</span>
            <div class="info-box">
                <span class="name">Muhammed Yilmaz</span>
                <span class="title">{{'developer' | translate}}</span>
            </div>
        </div>
        <a class="main-button" href="#contact">{{'go-to-contact1' | translate}}</a>
    </div>
    <img class="curved-vector" src="../../assets/img/vector.png" alt="">
</section>


