<section>
    <img class="shadow" src="../../assets/img/shadow1.png" alt="">
    <img class="portfolio-img" src="../../assets/img/portfolio-img1111111.png" alt="">
    <div class="full-box">
        <div class="main-info">
            <span class="i-am-text">I am</span>
            <div class="info-box">
                <span class="name">Muhammed Yilmaz</span>
                <span class="title">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <!-- <button class="main-button">Let's talk!</button> -->
        <a class="main-button" href="#contact">Let's talk!</a>
    </div>
</section>


