section {
    display: flex;
    position: relative;
    height: 100vh;
    max-width: 100%;
    // justify-content: center;
    justify-content: space-around;
    background-color: #141D2F;
    margin-top: 174px;
}

.portfolio-img {
    height: 77%;
    z-index: 5;
}

// .shadow {
//     height: 70%;
//     position: absolute;
//     left: 120px;
//     top: 120px;
// }

.main-info {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
}

.name {
    white-space: nowrap;
    font-size: 90px;
    font-weight: 700;
}
.title {
    font-size: 58px;
    font-weight: 400;
    color: #FF4747;
    white-space: nowrap;
}

.i-am-text {
    white-space: nowrap;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    font-size: 64px;
    font-weight: 400;
    margin-right: 20px;
    // margin-top: 10px;
}

.info-box {
    display: flex;
    flex-direction: column;
}

.main-button {
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        background-color: #E86F00;
        margin-top: 50px;
        font-size: 23px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        position: relative;
        z-index: 99999;
        transition: all 0.1s ease;
        text-decoration: none;
}

.main-button:hover {
    transform: scale(1.2); 
    background-color: #FF4747; 
}

.full-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 450px;
    z-index: 5;
}

.shadow {
    position: absolute;
    z-index: 4;
    height: 700px;
    margin-left: -1000px;
    margin-top: -30px;
}

.up-button, .up-button2 {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
    transform: rotate(180deg); /* Drehung um 180 Grad */
}

.curved-vector {
    height: 450px;
    width: 100%;
    z-index: 99;
    // margin-top: -200px;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1500px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 165px;
        justify-content: center;
    }
    .full-box {
        // position: unset;
        z-index: 999999;
        // margin-top: 100px;
        position: relative;
        top: -115px;
        // padding-top: unset;
        margin-bottom: unset;
    }
    .i-am-text {
        width: 72px;
        margin-right: 0;
    }
    // .portfolio-img {
    //     margin-top: 20px;
    // }
    .shadow {
        margin-left: 0;
        margin-top: -300px;
        width: 550px;
    }
    .curved-vector {
        bottom: 80px;
    }
}

@media screen and (max-width: 1050px) {
    section {
        margin-top: 140px;
    }
    .name {
        font-size: 72px;
        // height: 87px;
    }
    .title {
        font-size: 40px;
    }
    .curved-vector {
        bottom: 60px;
    }
//     // .portfolio-img {
//     //     margin-bottom: 50px;
//     // }
//     .full-box {
//         top: -185px;
//     }
}

@media screen and (max-width: 850px) {
    .name {
        font-size: 58px;
        // height: 69px;
    }
    .title {
        font-size: 26px;
    }
    .i-am-text {
        font-size: 44px;
        width: 48px;
    }
    // .portfolio-img {
    //     // margin-bottom: 254px;
    //     margin-bottom: 300px;
    // }
    .full-box {
        top: -140px;
    }
    .curved-vector {
        bottom: 80px;
    }
}

@media screen and (max-width: 650px) {
    section {
        margin-top: 70px;
    }
    .full-box {
        top: -50px;
    }
    .name {
        font-size: 48px;
        // height: 59px;
    }
    .title {
        font-size: 24px;
    }
    .i-am-text {
        font-size: 40px;
        width: 38px;
    }
    .main-button {
        padding: 8px 16px;
    }
    .shadow {
        height: 500px;
        margin-top: -400px;
        width: 505px;
    }
    .curved-vector {
        bottom: 20px;
    }
    .portfolio-img {
        height: 70%;
    }
}

@media screen and (max-width: 525px) {
    section {
        margin-top: 70px;
    }
    .name {
        font-size: 38px;
        // height: 53px;
    }
    .title {
        font-size: 20px;
    }
    .i-am-text {
        font-size: 32px;
        width: 44px;
    }
    // .shadow {
    //     width: 395px;
    //     margin-left: 40px;
    // }
    .portfolio-img {
        height: 68%;
    }
    .full-box {
        top: -70px;
    }
    .curved-vector {
        bottom: 40px;
    }
}

@media screen and (max-width: 450px) {
    section {
        margin-top: 20px;
    }
    .name {
        font-size: 36px;
        // height: 47px;
    }
    .title {
        font-size: 24px;
    }
    .i-am-text {
        font-size: 34px;
        width: 40px;
    }
    .portfolio-img {
        height: 60%;
    }
    .shadow {
        width: 344px;
        margin-left: 40px;
    }
    .full-box {
        top: -45px;
    }
    .curved-vector {
        bottom: 70px;
    }
}

@media screen and (max-width: 400px) {
    section {
        margin-top: -15px;
    }
    .name {
        font-size: 32px;
        // height: 39px;
    }
    .title {
        font-size: 22px;
    }
    .i-am-text {
        font-size: 30px;
        width: 34px;
    }
    .main-button {
        padding: 6px 12px;
    }
    .portfolio-img {
        height: 52%;
    }
    .shadow {
        width: 315px;
        margin-left: 0px;
    }
    .full-box {
        top: -25px;
    }
}

@media screen and (max-width: 350px) {
    section {
        margin-top: -50px;
    }
    .portfolio-img {
        height: 48%;
    }
    .name {
        font-size: 26px;
        // height: 39px;
    }
    .title {
        font-size: 18px;
    }
    .i-am-text {
        font-size: 24px;
        width: 30px;
    }
    .shadow {
        width: 290px;
    }
    .full-box {
        top: 0;
    }
}

@media screen and (max-height: 750px) and (max-width: 400px) {
    section {
        margin-top: 82px;
    }
    .curved-vector {
        bottom: 0;
    }
    .full-box {
        top: -55px;
    }
    .portfolio-img {
        height: 64%;
    }
}

@media screen and (min-height: 843px) and (max-height: 845px) and (min-width: 389px) and (max-width: 391px) {
    section {
        margin-top: 0px;
    }
    .curved-vector {
        bottom: 45px;
    }
    .full-box {
        top: -10px;
    }
}

@media screen and (min-height: 1366px) and (max-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) {
    .full-box {
        top: -130px;
    }
}

@media screen and (min-height: 1368px) and (max-height: 1368px) and (min-width: 912px) and (max-width: 912px) {
    .full-box {
        top: -130px;
    }
}

@media screen and (min-height: 720px) and (max-height: 720px) and (min-width: 540px) and (max-width: 540px) {
    section {
        margin-top: 130px;
    }
    .full-box {
        top: -150px;
    }
    .curved-vector {
        bottom: 54px;
    }
}

@media screen and (min-height: 882px) and (max-height: 882px) and (min-width: 344px) and (max-width: 344px) {
    section {
        margin-top: -35px;
    }
    .full-box {
        top: 0;
    }
    .curved-vector {
        bottom: 54px;
    }
}

@media screen and (min-height: 600px) and (max-height: 600px) and (min-width: 1024px) and (max-width: 1024px) {
    section {
        margin-top: 165px;
    }
    .full-box {
        top: -125px;
    }
    .curved-vector {
        bottom: 45px;
    }
}

@media screen and (min-height: 800px) and (max-height: 800px) and (min-width: 1280px) and (max-width: 1280px) {
    section {
        margin-top: 165px;
    }
    .full-box {
        top: -145px;
    }
    .curved-vector {
        bottom: 100px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) and (max-height: 730px)  {
    section {
        margin-top: 82px;
    }
    // .portfolio-img {
    //     height: 60%;
    // }
    .full-box {
        top: -50px;
    }
    .curved-vector {
        bottom: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 450px) and (max-height: 730px)  {
    section {
        margin-top: 55px;
    }
    // .portfolio-img {
    //     height: 60%;
    // }
    .full-box {
        top: -20px;
    }
    .curved-vector {
        bottom: 0;
    }
}

@media screen and (min-width: 451px) and (max-width: 525px) and (max-height: 730px)  {
    section {
        margin-top: 85px;
    }
    // .portfolio-img {
    //     height: 60%;
    // }
    .full-box {
        top: -60px;
    }
    .curved-vector {
        bottom: 0;
    }
}

@media screen and (min-width: 526px) and (max-width: 650px) and (max-height: 730px)  {
    section {
        margin-top: 100px;
    }
    // .portfolio-img {
    //     height: 60%;
    // }
    .full-box {
        top: -90px;
    }
    .curved-vector {
        bottom: 10px;
    }
}

@media screen and (min-width: 651px) and (max-width: 850px) and (max-height: 730px)  {
    section {
        margin-top: 140px;
    }
    // .portfolio-img {
    //     height: 60%;
    // }
    .full-box {
        top: -75px;
    }
    .curved-vector {
        bottom: 0;
    }
}

@media screen and (min-width: 851px) and (max-width: 1050px) and (max-height: 730px)  {
    section {
        margin-top: 160px;
    }
    // .portfolio-img {
    //     height: 60%;
    // }
    .full-box {
        top: -105px;
    }
    .curved-vector {
        bottom: 20px;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1500px) and (max-height: 730px)  {
    section {
        margin-top: 170px;
    }
    .full-box {
        top: -125px;
    }
    .curved-vector {
        bottom: 60px;
    }
}