<section>
    <div class="image-container" data-aos="fade-right" data-aos-easing="ease-in-out-back">
        <img class="portfolio-img top-img" src="../../assets/img/portfolio-img111111111.png" alt="">
        <img class="shadow bottom-img" src="../../assets/img/shadow1.png" alt="">
    </div>
    <div class="full-box" data-aos="fade-left" data-aos-easing="ease-in-out-back" data-aos-offset="-100">
        <div class="main-info">
            <span class="i-am-text" id="me" [ngStyle]="{ 'font-size.px': getFontSize() }">{{'me' | translate}}</span>
            <div class="info-box">
                <span class="name">Muhammed Yilmaz</span>
                <span class="title">{{'developer' | translate}}</span>
            </div>
        </div>
        <!-- <button class="main-button">Let's talk!</button> -->
        <a class="main-button" href="#contact">{{'go-to-contact1' | translate}}</a>
    </div>
    <img class="curved-vector" src="../../assets/img/vector.png" alt="">
    <!-- <img (mouseenter)="showUpButton2()" class="up-button" src="../../assets/img/up-button.png" alt="">
    <img (mouseleave)="hideUpButton2()" (click)="scrollToBottom()" *ngIf="showUpButton2Flag" class="up-button2" src="../../assets/img/up-button2.png" alt=""> -->
</section>


