section {
    max-width: 100%;
    background-color: #141D2F;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    overflow: hidden;
}

.contact-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    margin-right: 200px;
    z-index: 9;
    >div h4 {
        font-size: 90px;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-left: 50px;
    }
    >p {
        font-size: 32px;
        font-weight: 700;
        padding-left: 100px;
    }
    >span {
        padding-left: 100px;
    }
    >div {
        display: flex;
        align-items: center;
    }
}

.line {
    height: 4px;
    width: 50px;
}

.contact-formular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    padding-top: 170px;
    gap: 2px;
    >input[type=text],[type=email], select {
        width: 700px;
        height: 50px;
        border-radius: 10px;
        border-color: #FF4747;
        background-color: #141D2F !important;
        color: white;
        padding-left: 10px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        margin-top: 30px;
    }
    >input:hover {
        border-color: #E86F00;
    }
    >textarea, select {
        width: 700px;
        height: 250px;
        border-color: #FF4747;
        background-color: #141D2F;
        border-radius: 10px;
        color: white;
        padding-left: 10px;
        padding-top: 5px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        margin-top: 30px;
    }
    >textarea:hover {
        border-color: #E86F00;
    }
}

input::-webkit-input-placeholder {
    color: white; 
    text-indent: 20px;
    font-size: 16px;
}
  
input::-moz-placeholder {
    color: white; 
    text-indent: 20px;
    font-size: 16px;
}
  
input:-ms-input-placeholder {
    color: white; 
    text-indent: 20px;
    font-size: 16px;
} 

textarea::-webkit-input-placeholder {
    color: white; 
    padding-top: 10px;
    text-indent: 20px; 
    font-size: 16px; 
}
  
textarea::-moz-placeholder {
    color: white; 
    padding-top: 10px;
    text-indent: 20px; 
    font-size: 16px; 
}
  
textarea:-ms-input-placeholder {
    color: white; 
    padding-top: 10px;
    text-indent: 20px; 
    font-size: 16px; 
}

input[type=submit] {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    background-color: #E86F00;
    margin-top: 50px;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
    z-index: 99999;
    transition: all 0.1s ease;
}

form span {
    color: #E61C40;
    font-size: 15px;
    font-family: 'Poppins';
}

form div {
    width: 700px;
}

.contact-formular input.valid, 
.contact-formular textarea.valid {
    border-color: #70E61C;
    background-color: #141D2F;
}

.contact-formular input.invalid, 
.contact-formular textarea.invalid {
    border-color: #E61C40;
    background-color: #141D2F;
}

.contact-formular input:focus, 
.contact-formular textarea:focus {
    border-color: #E86F00;
    outline: none; 
    background-color: #141D2F;
}

.contact-formular input.valid:focus,
.contact-formular textarea.valid:focus {
    border-color: #70E61C;
}

input.valid, textarea.valid {
    background-image: url(../../assets/img/valid.png);
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 30px; 
}

input.invalid, textarea.invalid {
    background-image: url(../../assets/img/invalid.png);
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 30px; 
}

input:focus::placeholder, textarea:focus::placeholder {
    color: rgba(255, 255, 255, 0.5); 
    opacity: 0.5;                    
}

.custom-checkbox {
    display: none; 
}

.custom-checkbox + label {
    position: relative;
    padding-left: 30px; 
    line-height: 20px; 
    margin-top: 15px;
    width: 682px;
}

::ng-deep .custom-checkbox + label > .link {
    color: #FF4747;
    text-decoration: none;
}

::ng-deep .custom-checkbox + label > .link:hover {
    text-decoration: underline; 
}

::ng-deep .custom-checkbox + label:hover::before {
    filter: brightness(2);
}

.custom-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px; 
    height: 22px; 
    border: 2px solid #E86F00; 
    box-sizing: border-box; 
    text-align: center; 
    line-height: 20px; 
    cursor: pointer;
    transition: filter 0.3s ease;
}

.custom-checkbox:checked + label::before {
    content: "\2714"; 
    font-size: 16px; 
    color: #E86F00; 
}

#submitButton[disabled] {
    background-color: #ccc; 
    opacity: 0.5; 
    cursor: pointer;
}

.up-button, .up-button2 {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
}

.shadow {
    position: absolute;
    left: -300px;
    bottom: -500px;
}

@media screen and (max-width: 1500px) {
    section {
        flex-direction: column;
    }
    .contact-formular {
        padding-right: 0;
        padding-top: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .shadow {
        left: -450px;
    }
}

@media screen and (max-width: 900px) {
    .contact-text {
        >div h4 {
            padding-left: 25px;
        }
        >p {
            padding-left: 75px;
        }
        >span {
            padding-left: 75px;
        }
    }
    .contact-formular {
        >input[type=text],[type=email], select {
            width: 80%;
        }
        >textarea, select {
            width: 80%;
        }
    }
    form div {
        width: 80%;
    }
    .custom-checkbox + label {
        width: 78%;
    }
}

@media screen and (max-width: 600px) {
    .contact-text {
        margin-right: 0;
        >div h4 {
            font-size: 64px;
            padding-left: 20px;
        }
        >p {
            font-size: 24px;
            padding-left: 50px;
        }
        >span {
            padding-left: 50px;
        }
    }
    .line {
        height: 4px;
        width: 30px;
    }
}

@media screen and (max-width: 450px) {
    .contact-text {
        width: unset;
        >div img {
            width: 20px;
            height: 4px;
        }
        >div h4 {
            font-size: 48px;
            padding-left: 5px;
        }
        >p {
            font-size: 22px;
            padding-left: 25px;
        }
        >span {
            padding-left: 25px;
            width: 250px;
        }
    }
    .contact-formular {
        >input[type=text],[type=email], select {
            width: 84%;
        }
        >textarea, select {
            width: 84%;
        }
    }
    form div {
        width: 84%;
    }
    .custom-checkbox + label {
        width: 78%;
    }
}