<section>
    <img class="shadow" src="../../assets/img/shadow4.png" alt="">
    <div class="contact-text" data-aos="fade-right" data-aos-offset="700">
        <div>
            <img src="../../assets/img/line-contact.png" alt="">
            <h4>{{'contact-headline' | translate}}</h4>
        </div>
        <p>{{'contact-p' | translate}}</p>
        <span>{{'contact-span1' | translate}}</span>
        <span style="margin-top: 19px;">{{'contact-span2' | translate}}</span>
    </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-formular" data-aos="fade-up" data-aos-offset="800">

        <label for="name"></label>
        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" [placeholder]="'placeholder1' | translate" required (blur)="onBlur($event)" (ngModelChange)="validateForm()" [ngClass]="{'valid': name.valid && name.touched, 'invalid': !name.valid && name.touched}">
        <div *ngIf="!name.valid && name.touched">
            <span>{{'contactform-span1' | translate}}</span>
        </div>

        <label for="email"></label>
        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" [placeholder]="'placeholder2' | translate" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" (blur)="onBlur($event)" (ngModelChange)="validateForm()" [ngClass]="{'valid': email.valid && email.touched, 'invalid': !email.valid && email.touched}">
        @if (!email.valid && email.touched) {
            <div><span>{{'contactform-span2' | translate}}</span></div>
        }

        <label for="message"></label>
        <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message" [placeholder]="'placeholder3' | translate" required (blur)="onBlur($event)" (ngModelChange)="validateForm()" [ngClass]="{'valid': message.valid && message.touched, 'invalid': !message.valid && message.touched}"></textarea>
        @if (!message.valid && message.touched) {
            <div><span>{{'contactform-span3' | translate}}</span></div>
        }

        <input type="checkbox" id="privacyPolicyCheckbox" class="custom-checkbox" (change)="validateForm()">
        <label for="privacyPolicyCheckbox" [innerHTML]="'contactform-span4' | translate"></label>
        <!-- <div *ngIf="!privacyPolicyAccepted && submitClicked" class="privacy-policy-error">Please accept the privacy policy.</div> -->
        <input type="submit" id="submitButton" [value]="'placeholder4' | translate" [disabled]="submitButtonDisabled" (click)="onSubmitClick()">
    </form>
    <img (mouseenter)="showUpButton2()" class="up-button" src="../../assets/img/up-button.png" alt="">
    <img (mouseleave)="hideUpButton2()" (click)="scrollToTop()" *ngIf="showUpButton2Flag" class="up-button2" src="../../assets/img/up-button2.png" alt="">
</section>
