<section>
    <img class="shadow" src="../../../assets/img/shadow4.png" alt="">
    <div class="project1-box">
        <img src="../../../assets/img/pokedex.png" alt="">
        <div>
            <h2>Pokédex</h2>
            <h3>JavaScript | HTML | CSS | Api</h3>
            <span>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</span>
            <div class="button-box">
                <button class="main-button">Live test</button>
                <button class="main-button2">Github</button>
            </div>
        </div>
    </div>
</section>