<section>
    <img class="shadow" src="../../../assets/img/shadow4.png" alt="">
    <div class="project1-box" data-aos="zoom-in-up" data-aos-offset="700">
        <img src="../../../assets/img/pokedex.png" alt="">
        <div>
            <h2>Pokédex</h2>
            <h3>JavaScript | HTML | CSS | Api</h3>
            <span>{{'project3-span' | translate}}</span>
            <div class="button-box">
                <a class="main-button" href="https://pokedex.muhammed-yilmaz.com/" target="_blank" rel="noopener noreferrer">Live test</a>
                <a class="main-button2" href="https://github.com/m03ymz/Pokedex" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>
    </div>
</section>