<section>
    <div class="privacy-policy-header">
        <img class="line-left" src="../../../assets/img/portfolio-line-left.png" alt="">
        <h1>{{'privacy-policy-headline1' | translate}}</h1>
        <img class="line-right" src="../../../assets/img/portfolio-line-right.png" alt="">
    </div>
    <div class="privacy-policy-content">
    
        <p class="welcome-text">{{'privacy-policy-headline2' | translate}}</p>

        <h2>{{'privacy-policy-h2-1' | translate}}</h2>
        <p>{{'privacy-policy-p1' | translate}}</p>
        <div>
            <span>Muhammed Yilmaz</span>
            <span>{{'privacy-policy-span1' | translate}}</span>
            <span>{{'privacy-policy-span2' | translate}}</span>
        </div>
        
        <h2>{{'privacy-policy-h2-2' | translate}}</h2>
        <p>{{'privacy-policy-p2' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-3' | translate}}</h2>
        <p>{{'privacy-policy-p3' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-4' | translate}}</h2>
        <p>{{'privacy-policy-p4' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-5' | translate}}</h2>
        <p>{{'privacy-policy-p5' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-6' | translate}}</h2>
        <p>{{'privacy-policy-p6' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-7' | translate}}</h2>
        <p>{{'privacy-policy-p7' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-8' | translate}}</h2>
        <p>{{'privacy-policy-p8' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-9' | translate}}</h2>
        <p>{{'privacy-policy-p9' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-10' | translate}}</h2>
        <p>{{'privacy-policy-p10' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-11' | translate}}</h2>
        <p>{{'privacy-policy-p11' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-12' | translate}}</h2>
        <p>{{'privacy-policy-p12' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-13' | translate}}</h2>
        <p>{{'privacy-policy-p13' | translate}}</p>
        
        <h2>{{'privacy-policy-h2-14' | translate}}</h2>
        <p>{{'privacy-policy-p14' | translate}}</p>
        
        <p>&copy; {{'privacy-policy-copyright' | translate}}</p>
    </div>
</section>
