<section>
    <img class="shadow" src="../../assets/img/shadow3.png" alt="">
    <!-- <button class="main-button2">Get in touch</button> -->
    <a class="main-button2" href="#contact">Get in touch</a>
    <div class="skill-icons" data-aos="zoom-in-right" data-aos-offset="500">
        <div>
            <img src="../../assets/img/angular.png" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="../../assets/img/typescript.png" alt="">
            <span>TypeScript</span>
        </div>
        <div>
            <img src="../../assets/img/javascript.png" alt="">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="../../assets/img/html.png" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="../../assets/img/firebase.png" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="../../assets/img/git.png" alt="">
            <span>Git</span>
        </div>
        <div>
            <img src="../../assets/img/css.png" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="../../assets/img/api.png" alt="">
            <span>Rest-Api</span>
        </div>
        <div>
            <img src="../../assets/img/scrum.png" alt="">
            <span>Scrum</span>
        </div>
        <div>
            <img src="../../assets/img/material-design.png" alt="">
            <span>Material design</span>
        </div>
    </div>
    <div class="my-skills-box" data-aos="fade-up-left" data-aos-offset="500">
    <div class="my-skills">
        <div>
            <h1>{{'my-skills' | translate}}</h1>
            <img class="vector" src="../../assets/img/vector3.png" alt="">
        </div>
        <span>{{'my-skills1' | translate}}</span>
        <!-- <button class="main-button">Get in touch</button> -->
        <a class="main-button" href="#contact">{{'go-to-contact2' | translate}}</a>
    </div>
    </div>
</section>
