<section>
    <div class="imprint-header">
        <img class="line-left" src="../../../assets/img/portfolio-line-left.png" alt="">
        <h1>{{'imprint' | translate}}</h1>
        <img class="line-right" src="../../../assets/img/portfolio-line-right.png" alt="">
    </div>
    <div class="imprint-content" data-aos="fade-left" data-aos-duration="1000">
        <p><span class="highlighted">{{'imprint-span1' | translate}}</span>Muhammed Yilmaz</p>
      
        <p class="email"><span class="highlighted">{{'imprint-span2' | translate}}</span> <a href="mailto:meineemail@example.com" class="link">mail&#64;muhammed-yilmaz.com</a></p>
      
        <p>{{'imprint-p1' | translate}}</p>
      
        <p><span class="highlighted">{{'imprint-span3' | translate}}</span>{{'imprint-p2' | translate}}</p>
      
        <p><span class="highlighted">{{'imprint-span4' | translate}}</span>{{'imprint-p3' | translate}}</p>
      
        <p>{{'imprint-p4' | translate}}</p>
      
      </div>
</section>