section {
    max-width: 100%;
    color: white;
    margin-bottom: 100px;
    margin-top: 150px;
}

.imprint-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    >h1 {
        font-size: 90px;
        font-weight: 700;
        margin-block-start: 0.3em;
        margin-block-end: 0.3em;
    }
}

.line-left {
    width: 85px;
    height: 4px;
}

.imprint-content {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 100px;
    margin-right: 100px;
}
  
.imprint-content p {
    margin-bottom: 10px;
    >a {
        color: white;
        text-decoration: none;
    }
}
  
.imprint-content span.highlighted {
    color: #FA7902; 
    font-size: 18px; 
}

.link {
    position: relative;
    display: inline-block;
    padding-bottom: 2px; 
}
  
.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: rgb(255, 71, 71);
    transition: width 0.3s ease-out;
    transform: translateX(-50%);
}

.link:hover::after {
    width: calc(100% - 2px); 
}

@media screen and (max-width: 1000px) {
    .line-right {
        width: 250px;
        height: 4px;
    }
}

@media screen and (max-width: 900px) {
    .line-left {
        width: 60px;
        height: 4px;
    }
    .line-right {
        width: 100px;
        height: 4px;
    }
    .imprint-content {
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media screen and (max-width: 600px) {
    .imprint-header {
        gap: 10px;
    }
    .line-left {
        width: 40px;
        height: 4px;
    }
    .imprint-content {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 500px) {
    .line-right {
        width: 50px;
        height: 4px;
    }
    .imprint-header h1 {
        font-size: 54px;
    }
}

@media screen and (max-width: 450px) {
    .imprint-header {
        gap: 5px;
    }
    .line-left {
        width: 20px;
        height: 4px;
    }
    .imprint-content {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 400px) {
    .line-right {
        width: 40px;
        height: 4px;
    }
    .imprint-header h1 {
        font-size: 42px;
    }
}



