<section>
    <div class="portfolio-header" data-aos="flip-right" data-aos-offset="500">
        <img class="line-left" src="../../../assets/img/portfolio-line-left.png" alt="">
        <h1>Portfolio</h1>
        <img class="line-right" src="../../../assets/img/portfolio-line-right.png" alt="">
    </div>
    <p data-aos="flip-right" data-aos-offset="300">Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    <div class="project1-box" data-aos="zoom-in-up" data-aos-offset="700">
        <img src="../../../assets/img/join.png" alt="">
        <div>
            <h2>Join</h2>
            <h3>JavaScript | HTML | CSS</h3>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
            <div class="button-box">
                <button class="main-button">Live test</button>
                <!-- <button class="main-button2">Github</button>  -->
                <!-- <a class="main-button" href="#" target="_blank" rel="noopener noreferrer">Live test</a> -->
                <a class="main-button2" href="https://github.com/m03ymz/join" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>
    </div>
</section>
