<section>
    <div class="project1-box">
        <div>
            <h2>El Pollo Loco</h2>
            <h3>JavaScript | HTML | CSS</h3>
            <span>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</span>
            <div class="button-box">
                <!-- <a class="main-button" href="https://muhammed-emin-yilmaz.developerakademie.net/el_pollo_loco/index.html" target="_blank" rel="noopener noreferrer">Live test</a> -->
                <button class="main-button">Live test</button>
                <a class="main-button2" href="https://github.com/m03ymz/el_pollo_loco" target="_blank" rel="noopener noreferrer">Github</a>
                <!-- <button class="main-button2">Github</button> -->
            </div>
        </div>
        <img src="../../../assets/img/pollo-loco.png" alt="">
    </div>
</section>
