<section>
    <div class="project1-box">
        <div>
            <h2>El Pollo Loco</h2>
            <h3>JavaScript | HTML | CSS</h3>
            <span>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</span>
            <div class="button-box">
                <button class="main-button">Live test</button>
                <button class="main-button2">Github</button>
            </div>
        </div>
        <img src="../../../assets/img/pollo-loco.png" alt="">
    </div>
</section>
