
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-theme);

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1920px; 
    background-color: #141D2F;
}

* {
    scroll-behavior: smooth;
}

#above-the-fold {
    scroll-margin-top: 200px; 
}

#about-me {
    scroll-margin-top: 35px; 
}

#my-skills {
    scroll-margin-top: 125px; 
}

#portfolio-join {
    scroll-margin-top: 70px; 
}

#contact {
    scroll-margin-top: 110px; 
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@media screen and (min-width: 1920px) {
    body {
      padding-left: calc((100vw - 1920px) / 2); /* Berechnet den zusätzlichen linken Abstand */
      padding-right: calc((100vw - 1920px) / 2); /* Berechnet den zusätzlichen rechten Abstand */
    }
}

@media (max-width: 1200px) {
    #my-skills {
        scroll-margin-top: 70px; 
    }
}

@media (max-width: 550px) {
    #portfolio {
        scroll-margin-top: 80px; 
    }
}

@media (max-width: 450px) {
    #about-me {
        scroll-margin-top: 55px; 
    }

    #portfolio {
        scroll-margin-top: 100px; 
    }
}

@media (max-width: 400px) {
    #my-skills {
        scroll-margin-top: 90px; 
    }

    // #portfolio {
    //     scroll-margin-top: 50px; 
    // }
}







// /* custom-scrollbar.css */

// /* Track (Hintergrund) */
// ::-webkit-scrollbar {
//     width: 10px; /* Breite der Scrollbar */
//     background-color: white; /* Farbe der gesamten Scrollbar (helles Grau) */
//     box-shadow: inset 0 0 6px rgba(0,0,0,5.1); /* Schatten für den Hintergrund */
//   }
  
//   /* Handle (beweglicher Teil) */
// ::-webkit-scrollbar-thumb {
//     background-color: #FA7902; /* Farbe des Scrollbalkengriffs */
//     border-radius: 5px; /* Abrundung des Scrollbalkengriffs */
//     border: 2px solid #FA7902; /* Rand des Scrollbalkengriffs */
//     box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3), inset 0px 0px 6px rgba(255, 255, 255, 0.3); /* Schatten für Tiefe und inneren Glanz */
//     filter: saturate(150%) brightness(120%); /* Farbsättigung und Helligkeit erhöhen */
//   }
  
//   /* Handle bei Hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background-color: #FF4747; /* Farbe des Scrollbalkengriffs */
//     border-radius: 5px; /* Abrundung des Scrollbalkengriffs */
//     border: 2px solid #FF4747; /* Rand des Scrollbalkengriffs */
//     box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3), inset 0px 0px 6px rgba(255, 255, 255, 0.3); /* Schatten für Tiefe und inneren Glanz */
//     filter: saturate(150%) brightness(120%); /* Farbsättigung und Helligkeit erhöhen */
//   }
  
//   /* Track (Hintergrund) */
//   ::-webkit-scrollbar-track {
//     background: white; /* Farbe des Scrollbar-Hintergrunds */
//     border-radius: 5px; /* Abrundung des Scrollbar-Hintergrunds */
//     box-shadow: inset 0 0 6px rgba(0,0,0,5.1); /* Schatten für den Hintergrund */
//   }
  
//   /* Corner (Ecke) */
//   ::-webkit-scrollbar-corner {
//     background: transparent; /* Transparente Ecke der Scrollbar */
//   }
  
//   /* Verstecken der Scrollbar auf Mobilgeräten */
//   @media screen and (max-width: 768px) {
//     ::-webkit-scrollbar {
//       display: none; /* Verstecken der Scrollbar auf Mobilgeräten */
//     }
//   }






